.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}